[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = ">=2.20.0"
"psycopg2-binary" = "*"
dj-database-url = "*"
django-mailgun = "*"
gunicorn = "*"
tldextract = "*"

[dev-packages]

[requires]
python_version = "3.7"
